---
name: Pull Request Checks
on:
  pull_request:
jobs:
  languagetool:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-languagetool@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          level: info
          patterns: '**/*.md **/*.txt **/*.rs'
  changes:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            aide-de-camp:
              - 'aide-de-camp-sqlite/**'
            aide-de-camp-sqlite:
              - 'aide-de-camp-sqlite/**'
  code-style:
    runs-on: ubuntu-latest
    env:
      SQLX_OFFLINE: true
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy
      - name: Check formatting
        run: cargo fmt --all -- --check
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- --deny=warnings

  quality-assurance:
    name: Quality Assurance (${{ matrix.project }})
    needs: changes
    strategy:
      matrix:
        project: ${{ fromJSON(needs.changes.outputs.packages) }}
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      SQLX_OFFLINE: true
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@nextest
      - name: Test Rust
        working-directory: ${{matrix.project}}
        run: cargo nextest run --profile ci
      - name: Upload Unit Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Unit Test Results (${{ matrix.project }})
          path: target/nextest/ci/junit.xml
  publish-test-results:
    name: "Publish Unit Tests Results"
    needs: quality-assurance
    runs-on: ubuntu-latest
    if: always()
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          pattern: Unit Test Results (*)
          merge-multiple: true
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: artifacts/**/*.xml
